
  


 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
<style>
      :root {
    --dark-color:#333;
    --secondary-color:#ff7d00;
  }  
   footer {
      background-color: var(--dark-color);
      color: #ffffff;
      padding: 30px 0 20px;
  }
  
  .footer-links h5 {
      margin-bottom: 20px;
      color: var(--secondary-color);
  }
  
  .footer-links ul {
      list-style: none;
      padding-left: 0;
  }
  
  .footer-links li {
      margin-bottom: 10px;
  }
  
  .footer-links a {
      color: #ccc;
      text-decoration: none;
  }
  
  .footer-links a:hover {
      color: white;
  }
  

</style> 

</head>
<body>


<footer>
  <div class="container ">
      <div class="row">
          <div class="col-6 col-md-3">
              <div class="footer-links">
                  <h5>About My Tour</h5>
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="../aboutus">About Us</a></li>
                      <li><a href="../tours">Tour</a></li>
                      <li><a href="../deals">Deals</a></li>
                      <li><a href="../registration">registration</a></li>
                       <li><a href="../login">login</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-md-3 ">
              <div class="footer-links">
                  <h5>Help</h5>
                  <ul>
                      <li><a href="../contact">Contact Us</a></li>
                      <li><a href="#">FAQs</a></li>
                      <li><a href="/">Booking Conditions</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Cookie Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-md-3 ">
              <div class="footer-links">
                  <h5>Tours</h5>
                  <ul>
                      <li><a href="#">All Tours</a></li>
                      <li><a href="#">Last Minute Deals</a></li>
                      <li><a href="#">Group Tours</a></li>
                      <li><a href="#">Private Tours</a></li>
                      <li><a href="#">Guaranteed Departures</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-md-3 ">
              <div class="footer-links">
                  <h5>Connect With Us</h5>
                  <div class="social-icons mb-3">
                      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://x.com"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                     
                      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                  </div>
                 
                 
              </div>
          </div>
      </div>
      <hr class=" bg-secondary">
      <div class="row">
          <div class="col-md-6 mb-md-0">
              <p class="mb-0">© 2025 my tour. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-md-end">
              <p class="mb-0">Made with <i class="fas fa-heart text-danger"></i> for travelers</p>
          </div>
      </div>
  </hr>
</footer>
 
</body>
</html>





 